{
  "branches": [
    "main",
    {
      "name": "qa",
      "prerelease": true
    },
    {
      "name": "dev",
      "prerelease": true
    }
  ],
  "repositoryUrl": "https://github.com/newbish/changelog-test.git",
  "presets": "angular",
  "dryRun": false,
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/git",
    [
      "@newbish/changelog",
      {
        "changelogFile": "CHANGELOG.md",
        "runon": [
          "dev",
          "qa"
        ]
      }
    ]
  ],
  "prepare": [
    "@newbish/changelog",
    {
      "path": "@semantic-release/git",
      "assets": [
        "CHANGELOG.md"
      ],
      "message": "chore(release): v${nextRelease.version} [skip actions]"
    }
  ]
}